<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuraciones - PawPush Paradise</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <img src="../assets/pictures/logo1.jpg" alt="PawPush Paradise Logo" class="logo">
    <div id="settings" class="panel">
        <h1>Configuraciones</h1>
        <ul>
            <li>
                <div class="volume-bar">
                    <label for="sound">Volumen de sonido:</label>
                    <input type="range" id="volume-slider" name="volume" min="0" max="100" value="50">
                </div>
                
            </li>
            <li><label>Idioma:</label></li>
            
            <li>
                
               
                
                <div class="language-options">
                    <input type="radio" id="english" name="language" value="english">
                    <label for="english" class="language-label">Inglés</label>
                    <input type="radio" id="spanish" name="language" value="spanish">
                    <label for="spanish" class="language-label">Español</label>
                </div>
                
            </li>
            <li>
                <label for="fullscreen">Modo pantalla completa:</label>
                <input type="checkbox" id="fullscreen" name="fullscreen">
            </li>
            <li><a href="#" id="back" class="return-button">Volver</a></li>


        </ul>
    </div>
</body>
</html>