<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPush Paradise</title>
    
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <img src="../assets/pictures/logo1.jpg" alt="PawPush Paradise Logo" class="logo">

    <div class="button-container">
        <button type="button" id="btn-login">Iniciar sesión con Google</button>
        <button type="button" id="btn-logout">Logout</button>
        <button type="button" id="btn-create-room">Crear Sala</button>
    </div>

    <div id="room-list" aria-label="Lista de Salas"></div>

    <div id="main-menu" class="panel">
        <ul>
            <li><a href="../views/juego.html" id="play">Jugar</a></li>
            <li><a href="../views/config.html" id="options">Opciones</a></li>
            <li><a href="../views/score.html" id="score">Puntaje</a></li>
        </ul>
        <img src="../assets/pictures/art2.png" alt="PawPush Paradise Art" class="art">
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";
        import {
            getAuth,
            signOut,
            signInWithPopup,
            GoogleAuthProvider,
        } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";
        import {
            getDatabase,
            ref,
            set,
            push,
            onValue,
        } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyC2mOZQoo7TglXRBkFH6zYg35T4B9uTwKY",
            authDomain: "pawpush-2f014.firebaseapp.com",
            databaseURL: "https://pawpush-2f014-default-rtdb.firebaseio.com",
            projectId: "pawpush-2f014",
            storageBucket: "pawpush-2f014.appspot.com",
            messagingSenderId: "294052268906",
            appId: "1:294052268906:web:512db7f61d11c8ebf73313",
            measurementId: "G-79Q2V2CQDL"
        };

        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);
        const provider = new GoogleAuthProvider();
        const db = getDatabase(app);
        let currentUser;

        const buttonLogin = document.getElementById("btn-login");
        const buttonLogout = document.getElementById("btn-logout");
        const buttonCreateRoom = document.getElementById("btn-create-room");
        const roomListDiv = document.getElementById("room-list");

        buttonLogin.addEventListener("click", async function () {
            try {
                const result = await signInWithPopup(auth, provider);
                const user = result.user;
                currentUser = user;

                await set(ref(db, 'users/' + currentUser.uid), {
                    uid: currentUser.uid,
                    displayName: currentUser.displayName,
                    email: currentUser.email
                });

                console.log("User logged in: ", user);
                localStorage.setItem('currentUser', JSON.stringify(currentUser));
                loadRooms();
                //window.location.href = 'juego.html';
            } catch (error) {
                console.error('Error en el inicio de sesión:', error);
            }
        });

        buttonLogout.addEventListener("click", async function () {
            try {
                await signOut(auth);
                console.log("Sign-out successful");
                localStorage.removeItem('currentUser');
            } catch (error) {
                console.error("An error happened during sign-out:", error);
            }
        });

        buttonCreateRoom.addEventListener("click", async function () {
            try {
                const newRoomRef = push(ref(db, 'rooms'));
                const roomId = newRoomRef.key;

                await set(newRoomRef, {
                    roomId: roomId,
                    host: currentUser.uid,
                    players: {}
                });

                joinRoom(roomId);
            } catch (error) {
                console.error("Error creating room:", error);
            }
        });

        function loadRooms() {
            onValue(ref(db, 'rooms'), (snapshot) => {
                const rooms = snapshot.val();
                roomListDiv.innerHTML = '';
                for (const roomId in rooms) {
                    const roomDiv = document.createElement('div');
                    roomDiv.textContent = `Room ID: ${roomId}`;
                    roomDiv.addEventListener('click', () => joinRoom(roomId));
                    roomListDiv.appendChild(roomDiv);
                }
            });
        }

        async function joinRoom(roomId) {
            const characterName = "Character1"; // Este valor puede ser dinámico según la selección del jugador
            const initialPosition = { x: 0, y: 8, z: 0 };
            const initialVelocity = { x: 0, y: 0, z: 0 };
            const initialHitbox = { min: { x: -0.5, y: -0.5, z: -0.5 }, max: { x: 0.5, y: 0.5, z: 0.5 } };
            const initialTackleHitbox = { min: { x: -0.5, y: -0.5, z: -0.5 }, max: { x: 0.5, y: 0.5, z: 0.5 } };

            await set(ref(db, `rooms/${roomId}/players/${currentUser.uid}`), {
                uid: currentUser.uid,
                characterName: characterName,
                position: initialPosition,
                rotation: initialVelocity,
                velocity: initialVelocity,
                tackleState: "idle",
                hitbox: initialHitbox,
                tackleHitbox: initialTackleHitbox
            });

            localStorage.setItem('roomId', roomId);
            localStorage.setItem('isHost', true);  // Guardar información de que este jugador es el host
            console.log(localStorage.getItem('currentUser'));
            console.log(localStorage.getItem('roomId'));
            //window.location.href = 'juego.html';
        }

        if (localStorage.getItem('currentUser')) {
            currentUser = JSON.parse(localStorage.getItem('currentUser'));
            loadRooms();
        }
    </script>
</body>
</html>
