<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPush Paradise</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <img src="../assets/pictures/logo1.jpg" alt="PawPush Paradise Logo" class="logo">
    <div id="main-menu" class="panel">
        
        <ul>
            <li><a href="#" id="play">Jugar</a></li>
            <li><a href="#" id="options">Opciones</a></li>
            <li><a href="#" id="quit">Puntaje</a></li>
        </ul>
        <img src="../assets/pictures/art2.png" alt="PawPush Paradise Art" class="art">
    </div>
    
    
</body>
</html>


