<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pausa</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>

<img src="../assets/pictures/logo1.jpg" alt="PawPush Paradise Logo" class="logo">

<div id="main-menu">

    <h1>Pausa</h1>

    <ul>
        <li><a href="../views/juego.html" id="resumen">Resumen</a></li>
        <li><a href="../views/config.html" id="opciones">Opciones</a></li>
        <li><a href="../views/index.html" id="salir">Menu Principal</a></li>
    </ul>


</div>
 
    
</body>
</html>