body {
    margin: 0;
    padding: 0;
    background-image: url('../pictures/bg.jpg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.logo {
    display: block;
    margin: 20px auto; 
    width: 200px; 
    height: auto; 
    border-radius: 50%; 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-container button {
    background-color: var(--light-blue);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
    width: 240px;
}

.button-container button:hover {
    background-color: #87CEEB;
}

#room-list {
    width: 350px;
    margin: 20px; 
    text-align: center;
    background-color: rgba(253, 188, 180, 0.8); 
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    left: 20px;
}

#room-list div {
    background-color: var(--light-blue);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#room-list div:hover {
    background-color: #87CEEB;
}

#main-menu {
    width: 350px;
    margin: 120px auto; 
    text-align: center;
    background-color: rgba(253, 188, 180, 0.8); 
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

#main-menu h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#main-menu ul {
    list-style: none;
    padding: 0;
}

#main-menu li {
    margin-bottom: 20px;
}

#main-menu a {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 40px;
    display: inline-block;
    transition: background-color 0.3s;
    width: 240px; 
    font-size: 30px;
}

#main-menu a:hover {
    background-color: #87CEEB; 
}

#score1 {
    text-align: center;
    list-style: none;
    padding: 0;
}

#score2 {
    margin-bottom: 20px;
}

#score3 {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 40px;
    display: inline-block;
    transition: background-color 0.3s;
    width: 240px; 
    font-size: 30px;
}

#main-menu a:hover {
    background-color: #87CEEB; 
}

.art {
    display: block;
    margin: 0px auto; 
    width: 300px; 
    height: auto; 
    opacity: 0.8; 
}

#settings {
    width: 300px;
    margin: 50px auto; 
    text-align: center;
    background-color: rgba(253, 188, 180, 0.8); 
    padding: 40px;
    border-radius: 20px;
}

#settings h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#settings ul {
    list-style: none;
    padding: 0;
}

#settings li {
    margin-bottom: 20px;
}

#settings a {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 30px; 
    display: inline-block;
    transition: background-color 0.3s;
    width: 200px; 
    font-size: 20px; 
}

#settings a:hover {
    background-color: #87CEEB; 
}

.language-options input[type="radio"] {
    display: none; 
    margin-top: 10px;
}

.language-options label {
    cursor: pointer; 
    padding: 5px 10px; 
    margin-right: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: #ADD8E6; 
    color: white; 
}

.language-options .language-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.language-options input[type="radio"]:checked + label {
    background-color: #87CEEB; 
}

.volume-bar {
    width: 80%;
    margin: 0 auto;
}

#volume-slider {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ADD8E6;
    border-radius: 5px;
    outline: none;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#settings label {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

#back.return-button {
    background-color: #ADD8E6;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    background-color: rgba(253, 188, 180, 0.8);
    border-radius: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.table-container {
    background-color: #ADD8E6;
    border-radius: 20px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.score-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.table-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.score-table th, .score-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.score-table th {
    background-color: #f2f2f2;
}

.selection-container {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}
.selection-container h2 {
    margin-top: 0;
}
.selection-container select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    font-size: 16px;
}
.selection-container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.selection-container button:hover {
    background-color: #45a049;
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Quedarse en su lugar */
    z-index: 1; /* Sentarse en la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
}

.modal-content {
    background-color: #ADD8E6;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Puede ser más o menos, dependiendo del tamaño de la pantalla */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    color: rgb(3, 14, 3);
    text-align: center;
}

.modal select, .modal button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal button {
    background-color: rgb(253, 188, 180);
    color: white;
    border: none;
    cursor: pointer;
}

.modal button:hover {
    background-color: #45a049;
}

/* Colores específicos de la paleta */
:root {
    --soft-green: #98FB98;
    --light-brown: #D2B48C;
    --pale-pink: rgb(253, 188, 180);
    --light-blue: #ADD8E6;
}