body {
    margin: 0;
    padding: 0;
    background-image: url('../pictures/bg.jpg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.logo {
    display: block;
    margin: 20px auto; 
    width: 200px; 
    height: auto; 
    border-radius: 50%; 
}

#main-menu {
    width: 350px;
    margin: 120px auto; 
    text-align: center;
    background-color: rgba(253, 188, 180, 0.8); 
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

#main-menu h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#main-menu ul {
    list-style: none;
    padding: 0;
}

#main-menu li {
    margin-bottom: 20px;
}

#main-menu a {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 40px;
    display: inline-block;
    transition: background-color 0.3s;
    width: 240px; 
    font-size: 30px;
}

#main-menu a:hover {
    background-color: #87CEEB; 
}



#score1 {
    text-align: center;
    list-style: none;
    padding: 0;
}

#score2 {
    margin-bottom: 20px;
}

#score3 {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 40px;
    display: inline-block;
    transition: background-color 0.3s;
    width: 240px; 
    font-size: 30px;
}

#main-menu a:hover {
    background-color: #87CEEB; 
}


.art {
    display: block;
    margin: 0px auto; 
    width: 300px; 
    height: auto; 
    opacity: 0.8; 
}

#settings {
    width: 300px;
    margin: 50px auto; 
    text-align: center;
    background-color: rgba(253, 188, 180, 0.8); 
    padding: 40px;
    border-radius: 20px;
}

#settings h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#settings ul {
    list-style: none;
    padding: 0;
}

#settings li {
    margin-bottom: 20px;
}

#settings a {
    text-decoration: none;
    color: white; 
    background-color: #ADD8E6; 
    padding: 15px 30px; 
    border-radius: 30px; 
    display: inline-block;
    transition: background-color 0.3s;
    width: 200px; 
    font-size: 20px; 
}

#settings a:hover {
    background-color: #87CEEB; 
}

.language-options input[type="radio"] {
    display: none; 
    margin-top: 10px;
}

.language-options label {
    cursor: pointer; 
    padding: 5px 10px; 
    margin-right: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: #ADD8E6; 
    color: white; 
}

/* Agrega un identificador de clase para aumentar la especificidad */
.language-options .language-label {
    margin-top: 10px; /* Ajusta el margen-top según sea necesario */
    margin-bottom: 10px; /* Ajusta el margen-bottom según sea necesario */
}

.language-options input[type="radio"]:checked + label {
    background-color: #87CEEB; 
}

.volume-bar {
    width: 80%; /* Ancho de la barra de sonido */
    margin: 0 auto; /* Centrado horizontal */
}

#volume-slider {
    width: 100%; /* Ancho completo de la barra de desplazamiento */
    height: 10px; /* Altura de la barra de desplazamiento */
    -webkit-appearance: none; /* Eliminar estilos predeterminados del navegador */
    appearance: none;
    background-color: #ADD8E6; /* Color de fondo de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados */
    outline: none; /* Eliminar el contorno al hacer clic */
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Eliminar estilos predeterminados del navegador */
    appearance: none;
    width: 20px; /* Ancho del control deslizante */
    height: 20px; /* Altura del control deslizante */
    background-color: #FFFFFF; /* Color del control deslizante */
    border-radius: 50%; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el control deslizante */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra del control deslizante */
}

#volume-slider::-moz-range-thumb {
    width: 20px; /* Ancho del control deslizante */
    height: 20px; /* Altura del control deslizante */
    background-color: #FFFFFF; /* Color del control deslizante */
    border-radius: 50%; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el control deslizante */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra del control deslizante */
}

#settings label {
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado inferior */
}



#back.return-button {
    background-color: #ADD8E6;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    background-color: rgba(253, 188, 180, 0.8);
    border-radius: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para el contenedor de la tabla */
.table-container {
    background-color: #ADD8E6;
    border-radius: 20px;
    max-width: 90%; /* Cambiar el ancho del contenedor */
    margin: 0 auto;
    padding: 20px;
    
}

.score-table {
    border-collapse: collapse;
    width: 90%; /* Cambiar el ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
}

/* Estilos para el título de la tabla */
.table-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.score-table th, .score-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.score-table th {
    background-color: #f2f2f2;
}




/* Colores específicos de la paleta */
:root {
    --soft-green: #98FB98;
    --light-brown: #D2B48C;
    --pale-pink: rgb(253, 188, 180);
    --light-blue: #ADD8E6;
}